---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Overview from '../components/Overview.astro';
import Capabilities from '../components/Capabilities.astro';
import WhyAva from '../components/WhyAva.astro';
import Leadership from '../components/Leadership.astro';
import FederalReadiness from '../components/FederalReadiness.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---
<Layout>
  <Nav />
  <main>
    <Hero />
    <Overview />
    <Capabilities />
    <WhyAva />
    <Leadership />
    <FederalReadiness />
    <Contact />
  </main>
  <Footer />
</Layout>
