---
import { site } from '../data/site';
const year = new Date().getFullYear();
---
<footer class="ft">
  <div class="wrap ft-inner">
    <span class="slg">Accelerating value through <b>innovation</b>, <b>automation</b> &amp; <b>excellence</b>.</span>
    <span>© {year} {site.legalName} · {site.city}, {site.stateAbbr}</span>
  </div>
</footer>
